
/*===========================================
 Base style
 ++++++++++++++++++++++++++++++++++++++++ */
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

/*===========================================
 class selector
 ++++++++++++++++++++++++++++++++++++++++ */
.wrapper{
    margin: 0 auto;
    width: 90%;
    height: 100vh;

}

.searchInput{
    width: 60%;
    display: block;
    max-width: 450px;
    padding:10px ;
    margin: 30px auto;
    border: 1px solid lightblue;
}
::placeholder{
    color: lightslategrey;
}
.searchInput:focus {
    outline: none;
    transform: scale(1.1);
    box-shadow: 5px 5px rgba(0, 0, 0, .2);
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: 30px auto;
    max-width: 1200px;
}
.section{
    width: 200px;
    margin: 0 auto  70px;
}

/*===========================================
 media query
 ++++++++++++++++++++++++++++++++++++++++ */
@media (min-width: 768px) {
    .main{
        flex-direction: row;
        justify-content: center;
    }
    .section{
        margin: 0 30px 30px;
    }
}